@import url("./main.css");

.banner {
  grid-area: bn;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: url("https://source.unsplash.com/1800x800/?landscape");
}

.banner span {
  color: #fff;
  font-family: var(--Playfair);
}

.banner p {
  padding: 1rem 0 2rem 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: var(--Roboto);
  font-weight: 300;
}

form {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0.3rem;
  border-radius: 15px;
  background: #fff;
}

.search-tx {
  border: none;
  font-family: var(--Roboto);
  font-size: 1.2rem;
  outline: 0;
  padding: 0.6rem 0;
  width: 100%;
}

.search-bt {
  color: var(--dark);
  border: none;
  background: transparent;
  outline: 0;
  width: 70px;
  cursor: pointer;
}
