@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --Playfair: "Playfair Display", serif;
  --Quicksand: "Quicksand", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --dark: #3c393d;
  --exDark: #2b2b2b;
  --pur:rgb(163, 118, 179);
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--Quicksand);
}
body {
  line-height: 1.4rem;
  color: var(--dark);
  display: grid;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "bn bn bn bn bn bn bn bn"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
}

header {
  grid-area: hd;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://source.unsplash.com/1800x800/?landscape");
  min-height: 100vh;
}
.nav {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.2rem;
}

.container {
  margin: 0 auto;
  padding: 0 1.4rem;
  max-width: 1320px;
}
.logo {
  font-size: 2rem;
  color: var(--pur);
  font-family: var(--Playfair);
  display: block;
  text-align: center;
  text-decoration: none;
  letter-spacing: normal;
}

.item {
  text-align: center;
  padding: 0.8rem 0 0.2rem 0;
}
.item a {
  text-transform: uppercase;
  font-family: var(--Roboto);
  letter-spacing: 1px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 0.6rem 0.3rem;
  transition: opacity 0.8s ease;
}
.item a:hover {
  opacity: 0.5;
}

footer{
    background: var(--exDark);
    text-align: center;
    grid-area: ft;
    color: #fff;
    padding: 2rem 0;
}
.social{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
 .social a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 0 0.8rem;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.5s ease;
 }

 .social a:hover{
    color: var(--pur);
    background: #fff;
 }
