@import url("./common.css");
@import url("./banner.css");

.project {
  grid-area: main;
  padding: 3rem 0;
}

.sectionTitle {
  text-align: center;
}
.sectionTitle h1 {
  font-size: 2rem;
}
.sectionTitle p {
  padding: 2rem 0;
  font-size: 2rem;
}
.content {
  margin: 2.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionItem {
  margin: 2rem;
  padding: 1.5rem;
  width: 340px;
  width: 100%;
  height: 100%;
  background: rgba(215, 215, 215, 0.3);
  border-radius: 5px;
}

.image {
  position: relative;
  overflow: hidden;
}

.image::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.image img {
  transition: all 0.5s ease;
  width: 100%;
  max-height: 130px;
}

.design-item:hover img {
  transform: scale(1.2);
}

.desc {
  text-align: center;
  margin: 1rem auto;
}
.desc a {
  font-family: var(--Playfair);
  font-size: 1rem;
  color: var(--pur);
  text-decoration: none;
}

.about-desc h3 {
  font-family: var(--Playfair);
  font-size: 1rem;
  color: var(--pur);
  margin-top: 20px;
}

.about-desc ul {
  margin-left: 20px;
}

.avatar-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.avatar-image img {
  position: relative;
  content: "";
  top: 0;
  left: 0;
  width: 10%;
  /* height: 20%; */
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.button {
  padding: 0.5rem;
  margin-top: 10px;
  border-radius: 17px;
  border-color: var(--dark);
}

/* @media screen and (min-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .sectionItem {
    margin: 0;
  }
} */
